.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-user{
	background:url('icons/user.png') no-repeat center center;
}
.icon-jsqx{
	background:url('icons/jsqx.png') no-repeat center center;
}
.icon-kh{
	background:url('icons/kh.png') no-repeat center center;
}
.icon-tc{
	background:url('icons/tc.png') no-repeat center center;
}
.icon-xf{
	background:url('icons/xf.png') no-repeat center center;
}
.icon-hyk{
	background:url('icons/hyk.png') no-repeat center center;
}
.icon-wz{
	background:url('icons/wz.png') no-repeat center center;
}
.icon-bm{
	background:url('icons/bm.png') no-repeat center center;
}
.icon-hb{
	background:url('icons/hb.png') no-repeat center center;
}
.icon-hd{
	background:url('icons/hd.png') no-repeat center center;
}
.icon-dj{
	background:url('icons/dj.png') no-repeat center center;
}
.icon-fwl{
	background:url('icons/fwl.png') no-repeat center center;
}
.icon-bk{
	background:url('icons/bk.png') no-repeat center center;
}
.icon-jsyh{
	background:url('icons/jsyh.png') no-repeat center center;
}
.icon-bcs{
	background:url('icons/bcs.png') no-repeat center center;
}
.icon-downSale{
	background: url('icons/downsale.png') no-repeat center center;
}
.icon-upSale{
	background: url('icons/upsale.png') no-repeat center center;
}
.icon-pj{
	background:url('icons/pj.png') no-repeat center center;
}
.icon-jy{
	background:url('icons/jy.png') no-repeat center center;
}
.icon-qy{
	background:url('icons/qy.png') no-repeat center center;
}
.icon-hs{
	background:url('icons/hs.png') no-repeat center center;
}
.icon-jcsj{
	background:url('icons/jcsj.png') no-repeat center center;
}
.icon-sjqx{
	background:url('icons/sjqx.png') no-repeat center center;
}
.icon-khpj{
	background:url('icons/khpj.png') no-repeat center center;
}
.icon-khrz{
	background:url('icons/khrz.png') no-repeat center center;
}
.icon-yhrz{
	background:url('icons/yhrz.png') no-repeat center center;
}
.icon-excel{
	background:url('icons/excel.png') no-repeat center center;
}
.icon-tb{
	background:url('icons/tb.png') no-repeat center center;
}
.icon-zzjg{
	background:url('icons/zzjg.png') no-repeat center center;
}


